html,
body {
  margin: 0;
  background-color: #2f4f30;
  color: #ffffff;
}

.title {
  text-align: center;
  background-color: #000;
  color: #ffffff;
  padding: 2rem;
  font-size: 1.5rem;
}

.carta {
  width: 10rem;
  position: relative;
  left: 6.25rem;
  margin-left: -4.7rem;
}

#player-cards,
#computer-cards {
  height: 17rem;
}

.modal__section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.572);
  display: flex;
  z-index: 1111;
}

.modal__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #fff;
  margin: auto;
  max-width: 600px;
  max-height: 90%;
  border-radius: 6px;
  padding: 3em 2.5em;
  align-items: center;
}

.modal__close {
  border-radius: 50%;
  align-self: flex-end;
  margin-bottom: 2rem;
}

.modal__title {
  color: #000;
  font-size: 2.5rem;
}

.modal__img {
  width: 90%;
  max-width: 250px;
}

.modal--hide {
  display: none;
}
